body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    display: inline;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #29612a;
}

.alert-info {
    background-color: #dff9fb;
    color: #130f40;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #d1d8e0;
    border-radius: 4px;
}

.alert-info::before {
    content: "ℹ️";
    margin-right: 5px;
}

/* Formulario de agregar país */
form {
    margin-bottom: 20px;
}

input[type="text"], button {
    font-size: 16px;
}